<% content_for :head do %>
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />
<% end %>

<% title "Progressões Geométricas em Fractais" %>

<div id="fractal"></div>
  
<script type="text/javascript">  

 document.getElementById("fractal").innerHTML = "<applet code='org.c3sl.ufpr.br.main.Fractal.class' mayscript='mayscript' width='710' height='540'> "
  + "<param name='archive' value='/jars/fractal.jar, /jars/mysql-connector-java-5.0.8-bin.jar, /jars/balloontip-1.1.1.jar, /jars/db4o-7.12.156.14667-all-java5.jar,  /jars/xmlsec-2.0.jar, /jars/simple-xml-2.4.1.jar ' >" +
  "<param name='user[email]'  value='<%= current_user.email %>' > " +
  "<param name='user[id]'  value='<%= current_user.id %>' > " +
 "</applet>";

</script>
