<% content_for :head do %>
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />
<% end %>

<% title "Progressões Geométricas em Fractais" %>

<div id="fractal">
  
  <applet code='org.c3sl.ufpr.br.main.Fractal.class' mayscript='mayscript' width='710' height='540'>
  <param name='archive' value='/fractal/jars/fractal.jar, /fractal/jars/mysql-connector-java-5.0.8-bin.jar, /fractal/jars/balloontip-1.1.1.jar, /fractal/jars/db4o-7.12.156.14667-all-java5.jar' >
    <param name="user[email]"  value="<%= current_user.email %>" >
    <param name="user[id]"  value="<%= current_user.id %>" >
    </applet>

</div>
