<% content_for :head do %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />
<% end %>
<% title "Progressões Geométricas em Fractais" %>

<div class="block" id="block-text">
  <div class="content">
    <div class="inner">
      <h1>Progressões Geométricas com Fractais</h1>
      <div id="fractal"></div>
    </div>
  </div>
</div>

<%= render :partial => "load_fractal" %>

