<% content_for :head do %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />
 <% end %>
<% javascript "deployJava"  %>
<% title "Progressões Geométricas em Fractais" %>

<div class="block" id="block-text">
  <div class="content">
    <div class="inner">
      <h1>Progressões Geométricas com Fractais</h1>
      <div id="fractal"></div>
    </div>
  </div>
</div>

<script type="text/javascript"> 
  checkJavaVersion();

  var time = new Date().getTime();

  $("#fractal").html( 
  "<applet code='org.c3sl.ufpr.br.main.Fractal.class' mayscript='mayscript' width='710' height='540'> " +
    "<param name='archive' value='/fractal/jars/fractal.jar?"+ time +
    ", /fractal/jars/balloontip-1.1.1.jar?"+ time +
    ", /fractal/jars/xmlsec-2.0.jar?"+ time +
    ", /fractal/jars/simple-xml-2.4.1.jar?"+ time +"' >" +
    ", /fractal/jars/commons-io-2.0.1.jar?"+ time +"' >" +
    
    "<param name='user[email]'  value='<%= current_user.email %>' > " +
    "<param name='user[id]'  value='<%= current_user.id %>' > " +
  "</applet>");

//  $("#fractal").innerHTML = 
//  "<applet code='org.c3sl.ufpr.br.main.Fractal.class' mayscript='mayscript' width='710' height='540'> " +
//    "<param name='archive' value='/simulators/fractal/jars/fractal.jar?"+ time +
//    ", /simulators/fractal/jars/balloontip-1.1.1.jar?"+ time +
//    ", /simulators/fractal/jars/xmlsec-2.0.jar?"+ time +
//    ", /simulators/fractal/jars/simple-xml-2.4.1.jar?"+ time +"' >" +
//    ", /simulators/fractal/jars/commons-io-2.0.1.jar?"+ time +"' >" +
//    
//    "<param name='user[email]'  value='<%= current_user.email %>' > " +
//    "<param name='user[id]'  value='<%= current_user.id %>' > " +
//  "</applet>";
</script>
