<% title "Softwares Ensino de Matemática" %>

<div class="block" id="block-text">
  <div class="content">
    <div class="inner">
      <h1>Objetos de Aprendizagem</h1>
      <p>Neste sistema Objetos de Aprendizagem para o ensino de matemática</p>
      <% if user_signed_in? %>
        <p>No momento, somente o simulador de fractais está ativo,
          acesse ele através do menu ao lado direito!</p>
      <% elsif %>
        <p>Para acessá-los por favor registre-se</p>  
      <% end %>
    </div>
  </div>
</div>
