/*------------------------------------*\
      drop down navigation
\*------------------------------------*/

.drop-navigation{
  list-style:none;
  margin-bottom:10px;
  /* Clear floats */
  float:left;
  width:100%;
  /* Bring the nav above everything else--uncomment if needed. */
  position:relative;
  z-index:5;
}
.drop-navigation li{
  float:left;
  margin-right:10px;
  position:relative;
}

.drop-navigation a{
  display:block;
}

.drop-navigation a:hover{
  color:#fff;
  padding:5px;
  text-shadow: none;
}

/*--- DROPDOWN ---*/
.drop-navigation ul{
  background:#fff;
  /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
  //background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
  list-style:none;
  position:absolute;
  left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */

  padding: 10px 10px;
  border: 1px solid #fff;
  -webkit-box-shadow: 0px 13px 25px rgba(0,0,0, 0.2);
  -moz-box-shadow: 0px 13px 25px rgba(0,0,0, 0.2);
  box-shadow: 0px 13px 25px rgba(0,0,0, 0.2);
}
.drop-navigation ul li{
  padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
  padding:5px;
  float:none;
}
.drop-navigation ul a{
  white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
.drop-navigation li:hover ul{ /* Display the dropdown on hover */
  left:0; /* Bring back on-screen when needed */
}

.drop-navigation li:hover .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.drop-navigation li:hover a{
  text-decoration:underline;
}
.drop-navigation li:hover ul a{
 text-decoration:none;
}

.drop-navigation li:hover ul li a:hover{
  /* Here we define the most explicit hover states--what happens when you hover each individual link. */
  background:#333;
}
